/* CSS externo */

/* TAG selectors */

body {
  background-color: #B1D0E0;
}

hr {
  border-style: dotted none none;
  border-color: #F9F7F7;
  border-width: 7px;
  width: 3%;
}

hr:hover {
  border-color: gold;
}

h1 {
  color: #3F72AF;
}

h3 {
  color: #3F72AF;
}

/* CLASS selectors */

.justificado {
  text-align: justify;
}

.dinamico:hover {
  height: 303px;
}

.dinamico-2:hover {
  font-weight: bold;
}

.dinamico-3:hover {
  color: #6867AC;
  font-weight: bold;
}
