/* TAG selectors */

body {
  background-color: #39AEA9;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* CLASS selectors */

.top-container {
  background-color: #39AEA9;
}

.middle-container {
  color: white;
  height: 200px;
  width: 200px;
  background-image: url("../images/colors.jpg");
  background-color: #39AEA9;
  background-repeat: no-repeat;
  background-position: center;
}

.bottom-container {
  height: 200px;
  width: 200px;
  background-color: #39AEA9;
  background-image: url("../images/trees.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.inicio {
  margin-top: 50px;
}

.nube-1 {
  position: absolute;
  left: 70%;
  top: 10px;
}

.nube-2 {
  position: absolute;
  left: 20%;
  top: 150px;
}
