/* TAG selectors */

body {
  background-color: #A2D5F2;
  margin: 0;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
}

/* CLASS selectors */

.top-container {
  background-color: #39AEA9;
  height: 200px;
  width: 200px;
  padding: 20px;
  border: solid 10px;
}

.middle-container {
  color: white;
  height: 200px;
  width: 200px;
  background-image: url("../images/colors.jpg");
  background-color: #39AEA9;
  background-repeat: no-repeat;
  background-position: center;
  border: solid 20px;
  margin-left: 260px;
}

.bottom-container {
  height: 200px;
  width: 200px;
  background-color: #39AEA9;
  background-image: url("../images/trees.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border: solid 10px;
  margin-left: 500px;
}
